<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>018D7E2A-AF41-48AD-ADAE-9FD145613D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9EDFF73-4CD5-4CA7-B049-40D47477990A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07DA3164-3A68-4092-BE23-20E09F07B9C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B914E2C-5D73-4DC3-8C13-FB0AB136F6B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B914E2C-5D73-4DC3-8C13-FB0AB136F6B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>018D7E2A-AF41-48AD-ADAE-9FD145613D2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7483E80-02CB-4896-A99A-3415199E3C74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>my-hk</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dashboard.heroku.com/apps/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9EDFF73-4CD5-4CA7-B049-40D47477990A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>h</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results</string>
				<key>script</key>
				<string>#! /urs/bin/ruby
require 'json'
a = {"items": [
    {
        "uid": "desktop",
        "type": "file",
        "title": "Desktop",
        "subtitle": "~/Desktop",
        "arg": "~/Desktop",
        "autocomplete": "Desktop",
        "icon": {
            "type": "fileicon",
            "path": "~/Desktop"
        }
    }
]}

def item(name:)
  {
        "uid": name,
        "type": "file",
        "title": name,
        "subtitle": "",
        "arg": "~/Desktop",
        "autocomplete": name,
        "icon": {
            "type": "fileicon",
            "path": "~/Desktop"
        }
    }
end




output = %x{/usr/local/bin/heroku apps}
lines = output.split("\n")
cleaned_lines = lines.reject{|l| l.match('===')}
apps = cleaned_lines.map{|l| l.split.first}

json = {"items": apps.map{|app| item(name: app)}}

puts json.to_json
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./heroku.rb</string>
				<key>subtext</key>
				<string>Open heroku app</string>
				<key>title</key>
				<string>Heroku</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>018D7E2A-AF41-48AD-ADAE-9FD145613D2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>apps list refreshed</string>
				<key>title</key>
				<string>Heroku</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7483E80-02CB-4896-A99A-3415199E3C74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>h-refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh heroku apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07DA3164-3A68-4092-BE23-20E09F07B9C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./heroku.rb --refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B914E2C-5D73-4DC3-8C13-FB0AB136F6B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>018D7E2A-AF41-48AD-ADAE-9FD145613D2F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>07DA3164-3A68-4092-BE23-20E09F07B9C9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8B914E2C-5D73-4DC3-8C13-FB0AB136F6B6</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>C7483E80-02CB-4896-A99A-3415199E3C74</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D9EDFF73-4CD5-4CA7-B049-40D47477990A</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
